
body {
	background: #5f2c82;
	font-family: 'Lato';
	color: white;
	 
}

.centered {
	margin: 0 auto;
	text-align: center;
}

.calc-card {
	top: 20px;
	position: relative;
	width: 350px;
	padding: 15px 0;
	padding-top: 20px;
	margin: 0 auto;
	background: #000;
	border-radius: 20px;
	 
}

.screen {
	width: 58%;
	height: 54px;
	margin: 10px;
	line-height: 54px;
	margin: 0 auto;
	left: 44px;
	position: relative;
	padding-right: 9px;
	background: #cad69a;
	text-align: right;
	text-shadow: none;
	border-radius: 6px;
	border: 1px solid #6B6B6B;
	font-size: 26px;
	color: #111;
}

.screen:focus {
	outline: none;
}

.buttons {
	width: 340px;
	margin: 12px;
	margin: 0 auto;
	margin-top: 20px;
}

button {
	width: 65px;
	height: 45px;
	padding: 0;
	outline: none;
	margin: 0px 0px 10px 5px;
	border: 1px solid #333;
	border-radius: 6px;
	color: #fefefe;
	font: 24px "Lato", Arial, Helvetica, sans-serif;
	line-height: 45px;
	background: #222;
}


#clear {
	float: left;
	position: relative;
	left: 28px;
	top: 6px;
	background-color: #d02200;
	border: 1px solid #d02200;
}


#equal {
	width: 65px;
	background-color: #036;
	border: 1px solid #036;
	
}

 

#minus,
#plus,
#divide,
#multiply {
	background-color: #777;
	border: 1px solid #666;
	
}

